<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[onshow.title]</title>
    <link rel="icon" href="[onshow.icon]">
    <link rel="stylesheet" href="styles/[onshow.style]" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=[onshow.font]" type="text/css">
    <script type="text/javascript" src="js/scripts.js"></script>
</head>
<body>
    <div class="feedLeft">
        <form action="logout"><button>LOGOUT</button></form>
        <form action="notifications"><button>NOTIFICATIONS</button></form>
        <form action="home"><button>HOME</button></form>
        <button onclick="darkMode()">LIGHTSWITCH</button>
    
        <h1>HEY, [onshow.username] ツ</h1>
        <p class="info">[onshow.description]</p>
        <p class="info">Account Creation: [onshow.dateAdded]</p>
        <p class="info">followers [onshow.followers]</p>

        <button onclick="location.href = 'search?follow=myfollows'">MY FOLLOWS</button>
        <button onclick="location.href = 'search?follow=followers'">FOLLOWERS</button>

    </div>
    <div class="feed">
        <div class="makeYap">
            <form action="yap" method="POST">
                <p style="text-align: center;">Tweet something!</p>
                <input type="text" class="yapContent" name="yap" autocomplete="off" required>
                <input type="submit" value="Yap" style="text-align: center; padding-right: 5%;">
            </form>            
        </div>
        [onshow;block=begin; when [var.tweetsExist] == 1;]
        <div class="tweetContent">

            <h1><a id="userLink" href="search?keyword=[blk1.title;]">[blk1.title;block=div;]</a></h1>
            <p class="timestamp">[blk1.timestamp]</p>

            <div class="tweetBody" onclick="location.href = 'tweet?id=[blk1.identifier;]'">
                [blk1.content;] 

            </div>
            <div class="tweetFooter">
                <div class="stopButtons">
                    <button class="tweetButton" >LIKE [blk1.likes]</button>
                </div>
                <div class="stopButtons">
                    <button class="tweetButton">RETWEET</button>
                </div>
                <div class="stopButtons">
                    <button onclick="location.href = 'tweet?id=[blk1.identifier;]'" class="tweetButton">REPLY [blk1.comments]</button>
                </div>
            </div>        

        </div>
        [onshow;block=end;]
        
    </div>
    <div class="feedRight">
        <div class="homesearch">
            <form action="search" method="GET">
                <input type="text" class="searchBar" name="keyword" autocomplete="off">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
    
</body>
</html>