<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[onshow.title]</title>
    <link rel="icon" href="[onshow.icon]">
    <link rel="stylesheet" href="styles/[onshow.style]" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=[onshow.font]" type="text/css">
    <script type="text/javascript" src="js/scripts.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="feedLeft">
        <form action="logout"><button>LOGOUT</button></form>
        <form action="home"><button>HOME</button></form>
        <form action="notifications"><button>NOTIFICATIONS</button></form>
    
        <h1>HEY, [onshow.username] ツ</h1>
        <p class="info">[onshow.description]</p>
        <p class="info">Account Creation: [onshow.dateAdded]</p>
        <p class="info">followers [onshow.followers]</p>

        <button onclick="location.href = 'search?submit=myfollows'">MY FOLLOWS</button>
        <button onclick="location.href = 'search?submit=followers'">FOLLOWERS</button>

    </div>
    <div class="feed">
        <div class="header">
            <h1>HOME</h1>
        </div>
        <div class="makeYap">
            <form action="yap" method="POST" id="yapform">
                <textarea class="yapContent" name="yap" form="yapform" required></textarea>         
                <input type="submit" value="Yap" style="text-align: center; padding-right: 5%;">
            </form>
        </div>
        [onshow;block=begin; when [var.tweetsExist] == 1;]
        <div class="tweetContent">
            [blk1;block=div;]
            <div class="tweetHeader">
                <div class="headerTitle">
                    <a id="userLink" href="search?keyword=[blk1.title;]">[blk1.title;]</a>
                    <p class="timestamp">[blk1.timestamp]</p>
                </div>
                <div class="downArr">
                    <img onclick="showDropdown('arr[blk1.identifier]')" src="media/downarr.png" class="arrImg temp">
                    <div id="arr[blk1.identifier]" class="dropdown-content" class="show">
                        <p>hello</p>
                        <button class="tweetButton">testing</button>
                    </div>
                </div>
            </div>
            <div class="tweetBody" onclick="location.href = 'tweet?id=[blk1.identifier;]'">
                <p id="content[blk1.identifier;]">[blk1.content;]</p>
                <script>tagsAts('content[blk1.identifier;]', '[blk1.mentions;]', '[blk1.tags]');</script>
                 

            </div>
            <div class="tweetFooter">
                <div class="stopButtons">
                    <button class="tweetButton" onclick="like('[blk1.identifier]')"><span id="like[blk1.identifier]">LIKE [blk1.likes]</span></button>
                </div>
                <div class="stopButtons">
                    <button onclick="showDropdown('[blk1.identifier]')" class="tweetButton"><span class="temp" id="retwt[blk1.identifier]">RETWEET [blk1.numRetweets]</span></button>
                    <div id="[blk1.identifier]" class="dropdown-content" class="show">
                        <button onclick="retweet('[blk1.identifier]', '')">RETWEET WITHOUT TWEET</button>
                        <button onclick="retweetLogic('[blk1.identifier]')">RETWEET WITH TWEET</button>
                    </div>
                </div>
                <div class="stopButtons">
                    <button onclick="location.href = 'tweet?id=[blk1.identifier;]'" class="tweetButton">REPLY [blk1.comments]</button>
                </div>
            </div>        

        </div>
        [onshow;block=end;]
        
    </div>
    <div class="feedRight">
        <div class="homesearch">
            <form action="search" method="GET">
                <input type="text" class="searchBar" name="keyword" autocomplete="off">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
    
</body>
</html>