<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[onshow.title]</title>
    <link rel="icon" href="[onshow.icon]">
    <link rel="stylesheet" href="styles/[onshow.style]" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=[onshow.font]" type="text/css">
    <script type="text/javascript" src="js/scripts.js"></script>
</head>
<body>
    <div class="feedLeft">
        <form action="logout"><button>LOGOUT</button></form>
        <form action="home"><button>HOME</button></form>
        <button onclick="darkMode()">LIGHTSWITCH</button>
    
        <h1>HEY, [onshow.username] ツ</h1>
        <p class="info">[onshow.description]</p>
        <p class="info">Account Creation: [onshow.dateAdded]</p>
        <p class="info">followers [onshow.followers]</p>
        <form action="notifications"><button>NOTIFICATIONS</button></form>

    </div>
    <div class="feed">
        <div class="homesearch">
            <form action="search" method="GET">
                <input type="text" class="searchBar" name="keyword" autocomplete="off">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="searchedFor">
            <p>'[onshow.search]'</p>
            [onshow; block=begin; when [var.searchisuser] == 1]
            <div class="searchedUser">
                <p class="info">[onshow.searchedUser]</p>
                <p class="info">[onshow.searchedDescription]</p>
                <p class="info">Account Creation: [onshow.searchedDateAdded]</p>
                <p class="info">followers [onshow.searchedFollowers]</p>
                <form action="follow" method="GET"><input type="submit" name="keyword" value="[onshow.searchedUser]"></button></form>
            
            </div>
                [onshow;block=begin; when [var.tweetsExist] == 1;]
                <div class="tweetContent">

                    <h1>[blk1.title;block=div;]</h1>

                <div class="tweetBody">
                    [blk1.content;] 

                </div>

                <div class="tweetFooter">

                </div>        
                </div>
                [onshow; block=end;]
            [onshow; block=end;]
            [onshow; block=begin; when [var.searchisuser] == 0]
            <div class="searchedUser">
                    <p class="info">I haven't built anything other than user searches yet :)</p>
            
            </div>
            [onshow; block=end;]
        </div>

    </div>
    <div class="feedRight">
    </div>
    
</body>
</html>